body {
  margin: 0px;
  padding: opx;
  background: url(pexels-binyamin-mellish-116077.jpg);
  background-size: cover;
  color: white;
}
.left {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 25px;
  margin: 0%;
}
.center {
  border: 0.5px solid white;
  
  width: 44%;
  margin: 20px auto;
  display: block;
  /* position: fixed;
  top: 0cm; right: 10cm; */
  border-radius: 51px;
}
.right {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;
  top: 33px;
  right: 50px;
}
li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
}
li a {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-family: aldrich;
}
.navbar {
  display: inline-block;
}
li a:hover {
  text-decoration: underline;
  color: rgb(7, 196, 7);
  text-decoration: none;
}
div img {
  width: 124px;
  height: 98px;
  filter: invert(100%);
  position: relative;
}
#heading {
  text-align: center;
  font-family: aldrich;
  margin: 0%;
  position: relative;
  top: -23px;
}
.btn {
  margin: 0px 9px;
  padding: 4px 14px;
  color: white;
  background: transparent;
  border-radius: 10px;
  font-size: 12px;
  font-family: aldrich;
  cursor: pointer;
}
.btn:hover {
  color: violet;
  border: 1px solid white;
}
.container {
  border: 2px solid white;
  width: 33%;
  margin: 184px 68px;
  padding: 75px;
  border-radius: 98px;
}
.form input {
  margin: 5px auto;
  text-align: center;
  width: 320px;
  display: block;
  border: 1px solid black;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
}
.form input:hover {
  border: 1px solid yellow;
}
.form input:active {
  border: 1px solid red;
}
.container h2 {
  display: block;
  margin: 0px 25px;
  margin-bottom: 40px;
}
.form button {
  display: block;
  margin: 20px auto;
  width: 74%;
  padding: 5px;
  font-size: 13px;
}
